{% extends 'base.html' %}
{% block title %}Edit Seminar{% endblock %}

{% block content %}





<div class="content mt-3">

    <div class="card card-body mt-3">
        <div class="mb-3">
            <h4 class="d-inline">VIEW SEMINAR</h4>
        </div>

        <form class="card card-body" action="{% url 'update_seminar' seminarItem.id %}" method="POST">
            {% csrf_token %}

            <h6 class="card-header bg-success">Viewing Seminar</h6>
            <div class="card-body row g-3">
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Title</label>
                    <input type="text" class="form-control form-control-sm" value="{{seminarItem.title}}"
                           name="title">
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Address</label>
                    <input type="text" class="form-control form-control-sm" value="{{seminarItem.address}}"
                           name="address">
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Conducted by</label>
                    <input type="text" class="form-control form-control-sm" value="{{seminarItem.conducted}}"
                           name="conducted">
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date Started</label>
                    <input type="date" class="form-control form-control-sm" value="{{seminarItem.date_started}}"
                           name="date_started">
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date Ended</label>
                    <input type="date" class="form-control form-control-sm" value="{{seminarItem.date_ended}}"
                           name="date_ended">
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Duration</label>
                    <input type="time" class="form-control form-control-sm" value="{{seminarItem.time_duration}}"
                           name="time_duration">
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Ended</label>
                    <input type="time" class="form-control form-control-sm" value="{{seminarItem.time_end}}"
                           name="time_end">
                </div>

                   <div class="col-12">
                    <label class="form-label col-form-label-sm">Number of Hours</label>
                    <input type="number" class="form-control form-control-sm" value="{{seminarItem.no_hours}}"
                           name="no_hours">
                </div>

                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Seminar Type</label>
                    <select class="form-select form-select-sm" value="{{seminarItem.seminar_type}}" name="seminar_type">
                       <option>Basic</option>
                        <option>intermediate</option>
                        <option>Advance</option>
                        <option>Superior</option>
                    </select>
                </div>

                 <div class="col-8">
                    <label for="seminarOption" class="form-label col-form-label-sm">Level</label>
                    <select id="seminarOption" type="text" class="form-select form-select-sm" name="level" required>
                        <option selected>Choose...</option>
                        <option>beginner</option>
                        <option>intermediate</option>
                        <option>Expert</option>
                    </select>
                </div>

            </div>

            <button type="submit" class="btn btn-primary btn-sm mt-2">Update Seminar</button>
        </form>
    </div>
</div>

{% endblock %}