{% extends 'base.html' %}
{% block title %}View Seminar{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div class="content mt-7">
    <div class="card card-body mt-3">



         <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Learning Location</th>
                    <th scope="col">coach or mentor by</th>
                    <th scope="col">Date Started</th>
                    <th scope="col">Date Ended</th>
                    <th scope="col">Time Duration</th>
                    <th scope="col">No. of Hours</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>


                </tr>
                </thead>
                <tbody>
                {% for seminar in seminars%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{seminar.title}}</td>
                    <td>{{seminar.address}}</td>
                    <td>{{seminar.conducted}}</td>
                    <td>{{seminar.date_started}}</td>
                    <td>{{seminar.date_ended}}</td>
                    <td>{{seminar.time_duration}} - {{seminar.time_end}}</td>
                    <td>{{seminar.no_hours}} hours</td>
                    <td>{{seminar.seminar_type}}</td>


                    <td><a href="{% url 'edit_seminar' seminar.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'delete_seminar' seminar.id %}" class="btn btn-danger"
                           onclick="return confirm('Are you sure about this ?')">Delete</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}